body {
    font-family: arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items:start;
    height:100vh;
    padding-top: 50px;
}
.container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    background: #b1f8b1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;;
}
li.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
.delete-btn {
    background: #a20e09;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
li {
    animation: fadeInUp 0.3s easeforwards;  
}
body dark {
    background: #5f5e5e;
    color: #f0f0f0;
}
body dark .container {
    background: #050505;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}
body.dark input,
body.dark button {
    background: #494747;
    color: #fff;
    border-color: #666;    
}
body.dark li {
    background: #3a3a3a;
}
body.dark .delete-btn {
    background: #f99694;
}
#toggle-theme {
    margin-bottom: 15px;
    padding: 6px 12px;
    background: #333;
    color:#fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
}
/* --- Responsividade para Telas Menores --- */
@media (max-width: 768px) {
    header .container {
        flex-direction: column; /* Coloca o nome e a nav um sobre o outro */
        gap: 15px;
    }

    nav ul {
        flex-wrap: wrap; /* Permite que o menu quebre a linha se não couber */
        justify-content: center;
    }

    .container {
        padding: 12px;
    }   